// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-workspace-axis.horizontal.blur {
    -webkit-filter: blur(5px);
    transition: 0.15s ease;
    pointer-events: none;
}

atom-workspace-axis.horizontal {
    -webkit-filter: blur(0px);
    transition: 0.15s ease;
}

.git-gui {
    display: flex;
    flex-flow: column;
    -webkit-transition: width 0.15s ease;
    width: 0;
    overflow: hidden;
}

.git-gui.open {
    -webkit-transition: width 0.15s ease;
    width: 500px;
}

.git-gui.open.expanded {
    -webkit-transition: width 0.15s ease;
    width: 800px;
}

.git-gui-diff-view {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 7px;
    z-index: 1;
}

.git-gui-diff-view.open {
    display: flex;
}

.git-gui-overlay {
    display: flex;
    flex-direction: column;
    flex: 1; // Stretch to full height
    height: 100%;
    -webkit-transition: opacity 0.15s ease;
    opacity: 1;
    -webkit-filter: blur(0px);
    transition: 0.15s;
}

.git-gui-action-bar-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.git-gui-action-bar .icon::before {
    position: relative;
    left: 7px;
    font-size: 28px;
}

.git-gui-staging-area {
    width:100% height: 100%;
    padding-left: 7px;
    padding-right: 7px;
    -webkit-transition: opacity 0.15s ease;
    opacity: 1;
    -webkit-filter: blur(0px);
    transition: 0.15s;
    overflow-y: auto;
}

#staging-area-file-diff {
    right: 14px;
    margin-left: auto;
}

.git-gui-option-item {
    width: 50%;
}

#options {
    height: 30px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
}

.git-gui-log {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.15s ease;
    opacity: 0;
    z-index: 0;
    white-space: pre;
    overflow-y: auto;
    padding: 7px 7px 80px;
}

.git-gui-log.open {
    opacity: 1;
    z-index: 1;
}

.git-gui-settings {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transition: height 0.15s ease;
    height: 0;
    z-index: 0;
}

.git-gui-settings.open {
    height: 325px;
    z-index: 1;
}

.git-gui-settings-content {
    display: flex;
    flex-flow: row;
}

.git-gui-settings-subview {
    display: block;
    width: 75%;
    height: 100%;
    padding-left: 7px;
    padding-right: 7px;
}

#diff-text {
    height: 100%;
    white-space: pre;
    overflow-y: auto;
}

#action-view {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
}

.action-view-content {
    flex: 1; // Fill vertically
}

#action-view-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 7px;
}

.action-progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    visibility: hidden;
}

#git-gui-project-list {
    width: 80%;
}

#git-gui-branch-list {
    width: 80%;
}

#git-gui-remotes-list {
    width: 50%;
}

#status-list {
    height: 100%;
    width: 100%;
}

#staging-area-file {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.git-gui-status-list-item {
    display: flex;
    flex-direction: row;
}

#git-gui-user-signingkey-list {
    width: 100%;
}

.fade-and-blur {
    -webkit-transition: opacity 0.15s ease;
    opacity: 0.2;
    -webkit-filter: blur(2px);
    transition: 0.15s;
}

.git-gui-diff-view-hunk-line.added {
    color: green;
}

.git-gui-diff-view-hunk-line.removed {
    color: red;
}
// TODO: Extract the common code for the following, and make it a class

#commit-action {
    -webkit-transition: opacity 0.15s ease;
    opacity: 0.25;
    pointer-events: none;
}

#commit-action.available {
    -webkit-transition: opacity 0.15s ease;
    opacity: 1;
    pointer-events: inherit;
}

#commit-action::before {
    font-family: "Octicons Regular";
    content: "\f01f";
}

#push-action {
    -webkit-transition: opacity 0.15s ease;
    opacity: 0.25;
    pointer-events: none;
}

#push-action.available {
    -webkit-transition: opacity 0.15s ease;
    opacity: 1;
    pointer-events: inherit;
}

#push-action::before {
    font-family: "Octicons Regular";
    content: "\f005";
}

#push-action.force::before {
    font-family: "Octicons Regular";
    content: "\f04a";
}

#pull-action.available {
    -webkit-transition: opacity 0.15s ease;
    opacity: 1;
    pointer-events: inherit;
}

#pull-action {
    -webkit-transition: opacity 0.15s ease;
    opacity: 0.25;
    pointer-events: none;
}

#pull-action::before {
    font-family: "Octicons Regular";
    content: "\f006";
}

#log-action.available {
    -webkit-transition: opacity 0.15s ease;
    opacity: 1;
    pointer-events: inherit;
}

#log-action {
    -webkit-transition: opacity 0.15s ease;
    opacity: 0.25;
    pointer-events: none;
}

#log-action::before {
    font-family: "Octicons Regular";
    content: "\f007";
}

#settings-action.available {
    -webkit-transition: opacity 0.15s ease;
    opacity: 1;
    pointer-events: inherit;
}

#settings-action {
    -webkit-transition: opacity 0.15s ease;
    opacity: 0.25;
    pointer-events: none;
}

#settings-action::before {
    font-family: "Octicons Regular";
    content: "\f07c";
}

#user::before {
    font-family: "Octicons Regular";
    padding-right: 14px;
    content: "\f018";
}

#branch::before {
    font-family: "Octicons Regular";
    font-size: 18px;
    content: "\f020";
}

#repo::before {
    font-family: "Octicons Regular";
    font-size: 18px;
    content: "\f001";
}

#config::before {
    font-family: "Octicons Regular";
    padding-right: 14px;
    content: "\f011";
}
