// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.git-gui {
  display: flex;
}

.git-gui.open {
  -webkit-transition: all 0.25s ease;
  width: 500px;
}

.git-gui.closed {
  -webkit-transition: all 0.25s ease;
  width: 0px;
}

.git-gui-status {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 50%;
  left: 0;
  // justify-content: space-around;
  align-items: center;
  width: 50px;
  height: 200%;
}

.git-gui-settings {
  display: block;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.git-gui-settings.open {
  -webkit-transition: all 0.25s ease;
  height: 300px;
}

.git-gui-settings.closed {
  -webkit-transition: all 0.25s ease;
  height: 50px;
}

.git-gui-settings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 21px;
  cursor: pointer;
}

.git-gui-settings-content {
  display: flex;
  flex-flow: row;
}

.git-gui-settings-menu {
  overflow-y: auto;
  width: 25%;
  height: 100%;
  padding-left: 7px;
}


.git-gui-subview {
  display: none;
  width: 75%;
  height: 100%;
  padding-left: 7px;
}

.git-gui-subview.active {
  display: inline-block
}

.git-gui-menu-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.git-gui-menu-ul li {
  width: 100%;
  height: 50px;
}

.git-gui-menu-ul li a {
  display: block;
  font-size: 14px;
  line-height:50px
}

.git-gui-settings-menu .icon::before {
  position: relative;
  left: 7px;
  font-size: 21px;
}

#userSigningKey {
  width: 100%;
}
// TODO: Extract the common code for the following, and make it a class

#user::before {
  font-family: "Octicons Regular";
  padding-right: 14%;
  content: "\f018";
}

#commit::before {
  font-family: "Octicons Regular";
  padding-right: 14%;
  content: "\f01f";
}

#branch::before {
  font-family: "Octicons Regular";
  padding-right: 14%;
  content: "\f020";
}

#push::before {
  font-family: "Octicons Regular";
  padding-right: 14%;
  content: "\f005";
}

#pull::before {
  font-family: "Octicons Regular";
  padding-right: 14%;
  content: "\f006";
}

#push.force::before {
  font-family: "Octicons Regular";
  padding-right: 14%;
  content: "\f04a";
}

#repo::before {
  font-family: "Octicons Regular";
  padding-right: 14%;
  content: "\f001";
}

#config::before {
  font-family: "Octicons Regular";
  padding-right: 14%;
  content: "\f011";
}
